.room-modal {
    max-width: 1000px;
    height: 600px;
    width: 750px;
}

.room-modal > div {
    width: 100%;
    height: 100%;
}

.room-modal div.footer {
    flex-direction: row-reverse;
}

.room-modal label {
    min-width: 120px;
}

.room-modal div {
    display: flex;
}

.room-modal div.content {
    flex-grow: 1;
}

.room-modal > div > div {
    padding: 0.5em;
}

.room-modal .flex-row {
    flex-direction: row;
}

.room-modal .search-control {
    flex-direction: column;
}
